/* divide screen into sections using flex */
.task{
  margin: 10px 20x;
  padding: 10px;
  display: flex;
  border: 2px solid gray;
}

.task .info{
  flex: 3;
}

.task .status{
  flex: 1;
}

.task .date-budget{
  flex: 1;
}

body {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 12px;
  padding: 25px;
  
}

main{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.list,
#form {
  flex: 1 1 50%;
  padding: 20px;
  display: flex;

}

.list {
  background-color: red;
  color: white;
}

#form {
  background-color: orange;
  color: black;
}

#form .form-label {
  font-weight: 600;
  color: gray;
}

#btnSave {
  width: 100%;
  margin-top: 10px;
}



/* tablet view */

@media (max-width: 768px) {
  .list,
  #form {
    flex: 1 1 100%;
    min-height: 50vh;
  }
}